.Aside {
  grid-area: aside;
  background: var(--nav-background);
  min-width: var(--nav-width);
  width: 100%;

  @media (min-width: 680px) {
    min-width: var(--nav-width);
  }
}

.content {
  padding: 2rem 3rem 10rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 10rem;

}


