*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--foreground);
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--foreground);
  transition: color 300ms;

  &:hover {
    text-decoration: underline;
    color: var(--highlight);
  }
}

button {
  color: var(--foreground);
  border: 0;
  background: none;
}