.Header {
  --wordmark-height: 4rem;
  --header-gutter: 2rem;

  height: var(--wordmark-height);
  position: fixed;
  background: var(--nav-background);
  width: auto;
  inset-inline: 0;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 var(--header-gutter);
  overflow: hidden;
}

@media (min-width: 680px) {
  .Header {
    position: sticky;
  }
}

.Wordmark {
  line-height: var(--wordmark-height);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.NavToggle {
  font-family: var(--font-monospaced);
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;

  &:before {
    content: '[ ] ';
  }

  &:after {
    content: 'Menu';
    min-width: 6ch;
  }


&:before {
    content: '[ ] ';
  }}

[popover]:popover-open + .NavToggle:before {
  content: '[•] ';
}

[popover]:popover-open + .NavToggle:after {
  content: 'Close';
}

.Nav {
  top: var(--wordmark-height);
  inset-inline: 0;
  position: absolute;
  background: var(--nav-background);
  height: calc(100vh - var(--wordmark-height));
  padding: var(--header-gutter);
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  border: none;
  max-width: 35rem;
  inline-size: 100%;
  margin: 0;
  inset-inline-start: unset;
  inset-inline-end: 0;

  &:popover-open {
    opacity: 1;
  }

  @starting-style {
    &:popover-open {
      opacity: 0;
    }
  }

  ul:nth-child(2) {
    flex: 1;
  }

  ul:last-of-type {
    margin: 0;
  }
}

.link--primary {
  position: relative;
  padding: 0.25em 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    background: var(--foreground);
    will-change: transform;
    transform-origin: 0 0;
    transition: transform 400ms;
  }

  &:hover,
  &:focus-within {
    text-decoration: none;

    &::after {
      transform-origin: 100% 100%;
      transform: scaleX(0);
    }
  }

  &.link--primary--current {
    &::before {
      content: '•';
      font-size: 1.5rem;
    }

    &:hover,
    &:focus-within {
      cursor: default;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}
