.Header {
  --wordmark-height: 4rem;
  --header-gutter: 4rem;

  height: var(--wordmark-height);
  position: fixed;
  background: var(--nav-background);
  width: auto;
  inset-inline: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--header-gutter);
  overflow: hidden;
}


@media (min-width: 680px) {
  .Header {
    position: sticky;
  }
}
