:root {
  --color-primary: #000;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'main' 'aside';
  grid-template-rows: 1fr auto;
}

@media (min-width: 680px) {
  .container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'main aside';
  }
}