@font-face {
  font-family: 'Manrope Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-sans: 'Manrope Variable', sans-serif;
  --font-monospaced: menlo;
}

body {
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3
h4,
.heading-4,
h5,
.heading-5
h6,
.heading-6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-wrap: pretty;
}

h1,
.heading-1 {
  margin-top: 6rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 100;
  margin-bottom: 4rem;
}

h2,
.heading-2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
}

h3,
.heading-3 {
  font-family: var(--font-monospaced);
  font-size: 12px;
  margin-bottom: 0.5rem;
}

h4,
.heading-4 {
  font-weight: 600;
  line-height: 1.35;
  font-size: 1rem;
  text-wrap: pretty;
}

h5,
.heading-5 {
  font-family: var(--font-monospaced);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

h6,
.heading-6 {
  font-family: var(--font-monospaced);
  font-size: 10px;
  font-weight: 500;

}

p {
  font-weight: 400;
  line-height: 1.35;
  font-size: 1rem;
  text-wrap: pretty;
  margin-bottom: 1.5rem;
}

.lead {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.5rem;
  text-wrap: pretty; 
  margin-bottom: 2.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
}

li {
  position: relative;



  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
  }

  &.list-label {
    &::before {
      background: transparent;
    }
  }

  &.divider {
    &::before {
      background: var(--highlight);
    }
}
}

