---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Hands from '../assets/images/hand.jpg';
---

<Layout>
  <div slot="main" class="Main">
    <!-- <Image src={Hands} alt="Masana" class="Image" /> -->
  </div>

  <div slot="aside" class="Aside">
    <div class="Header">
      <h1 class="Wordmark">Masana</h1>
      <nav popover id="nav" class="Nav">
        <ul>
          <li class="heading-3">Services</li>
          <li>
            <a class="heading-2 link--primary link--primary--current" href="#"
              >Osteopathy</a
            >
          </li>
          <li>
            <a class="heading-2 link--primary" href="#">Therapy</a>
          </li>
        </ul>

        <ul>
          <li>
            <a class="heading-4" href="#">About</a>
          </li>
          <li>
            <a class="heading-4" href="#">Philosophy</a>
          </li>
          <li>
            <a class="heading-4" href="#">Contact</a>
          </li>
        </ul>
        <ul>
          <li class="heading-6">
            Website by <a href="https//cartogram.ca">Cartogram</a>
          </li>
        </ul>
      </nav>
			<button class="NavToggle" popovertarget="nav"></button>
    </div>
    <div class="content"><h2>Physical intelligence</h2></div>
  </div>
</Layout>

<script>
	window.onload = function () {
		if (typeof window !== 'undefined') {
			const button = document.querySelector('button[popovertarget=nav]');
			const popover = document.querySelector('#nav');

			button.addEventListener('click', toggle);

			function toggle(e) {
				e.preventDefault();

				const is_opening = !popover.matches(':popover-open');

				if (is_opening) {
					popover.showPopover();
				} else {
					popover.hidePopover();
				}
			}

			document.addEventListener('keydown', (e) => {
				if (
					e.key === 'Escape' &&
					popover.hasAttribute('popover') &&
					popover.matches(':popover-open')
				) {
					toggle(e);
				}
			});
		}
	};
</script>