---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Hands from '../assets/images/hand.jpg';
---

<Layout>
  <div slot="main">
		<Image src={Hands} alt="Mansana" />

    <h1 class="font-weight-200">Mansana</h1>
  </div>
  <div slot="aside">
    <nav class="Nav">
			<ul>
				<li>
					<a href="/philosophy">Philosophy</a>
				</li>
				<li>
					<a href="/research">Research</a>
				</li>
				<li>
					<a href="/teaching">Teaching</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
  </div>
</Layout>
