---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav.astro';
import Form from '../components/form.astro';
---

<Layout>
  <div slot="main" class="Main">
    <!-- <Image src={Hands} alt="Masana" class="Image" /> -->
  </div>

  <div slot="aside" class="Aside">
    <div class="Header">
      <a class="Wordmark heading-4 link-secondary" href="/">Masana</a>
      <Nav />
    </div>
    <div class="content">
      <article>
        <h1 class="heading-5">Physical Intelligence</h1>
        <p class="lead">
          Our hands have become eyes for the heart, delving into physical,
          psychological and emotional connections, forming unparalleled
          knowledge to our treatment.
        </p>
      </article>

      <Form />
    </div>
  </div>
</Layout>
