---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Hands from '../assets/images/hand.jpg';

const year = new Date().getFullYear();
---

<Layout>
  <div slot="main" class="Main">
    <!-- <Image src={Hands} alt="Masana" class="Image" /> -->
  </div>

  <div slot="aside" class="Aside">
    <div class="Header">
      <a class="Wordmark heading-4 link-secondary" href="/">Masana</a>
      <nav popover id="nav" class="Nav">
        <ul>
          <li class="heading-3 list-label">Services</li>
          <li class="divider">
            <a class="heading-2 link--primary link--primary--current" href="#"
              >Osteopathy</a
            >
          </li>
          <li class="divider">
            <a class="heading-2 link--primary" href="#"> Pychotherapy </a>
          </li>
          <li class="divider">
            <a class="heading-2 link--primary" href="#">Training</a>
          </li>
        </ul>

        <ul>
          <li>
            <a class="heading-4 link-secondary" href="#">Philosophy</a>
          </li>
          <li>
            <a class="heading-4 link-secondary" href="#">About</a>
          </li>
          <li>
            <a class="heading-4 link-secondary" href="#">Testimonials</a>
          </li>

          <li>
            <a class="heading-4 link-secondary" href="#">Contact</a>
          </li>
        </ul>
        <ul>
          <li class="heading-6">
            Copyright © {year} Masana.
          </li>
          <li class="heading-6">
            Website by <a href="https//cartogram.ca">Cartogram</a>
          </li>
        </ul>
      </nav>
      <button class="NavToggle" popovertarget="nav"></button>
    </div>
    <div class="content">
			<article>
      <h1 class="heading-5">Physical Intelligence</h1>
      <p class="lead">
        Our hands have become eyes for the heart, delving into physical,
        psychological and emotional connections, forming unparalleled knowledge
        to our treatment.
      </p></article>


			<form class="newsletter-form">
				<h2 class="heading-5">Stay up to date</h1>
					<p>For the latest news, projects, interviews, research, and occasional behind-the-scenes updates from us, join our newsletter.

					</p>
					<fieldset class="fieldset">
						<input type="email" placeholder="Your email" class="input" />
						<button type="submit" class="button">Subscribe</button>
					</fieldset>
				</form>
			</div>	
		</div>
	</Layout>
</Layout>
