---

---



<form class="newsletter-form">
  <h2 class="heading-5">Stay up to date</h1>
    <p>For the latest news, projects, interviews, research, and occasional behind-the-scenes updates from us, join our newsletter.

    </p>
    <fieldset class="fieldset">
      <input type="email" placeholder="Your email" class="input" />
      <button type="submit" class="button">Subscribe</button>
    </fieldset>
  </form>