---
const year = new Date().getFullYear();
---

<nav popover id="nav" class="Nav">
  <ul>
    <li class="heading-3 list-label">Services</li>
    <li class="divider">
      <a class="heading-2 link--primary link--primary--current" href="#"
        >Osteopathy</a
      >
    </li>
    <li class="divider">
      <a class="heading-2 link--primary" href="#"> Pychotherapy </a>
    </li>
    <li class="divider">
      <a class="heading-2 link--primary" href="#">Training</a>
    </li>
  </ul>

  <ul>
    <li>
      <a class="heading-4 link-secondary" href="#">Philosophy</a>
    </li>
    <li>
      <a class="heading-4 link-secondary" href="#">About</a>
    </li>
    <li>
      <a class="heading-4 link-secondary" href="#">Testimonials</a>
    </li>

    <li>
      <a class="heading-4 link-secondary" href="#">Contact</a>
    </li>
  </ul>
  <ul>
    <li class="heading-6">
      Copyright © {year} Masana.
    </li>
    <!-- <li class="heading-6">
      Website by <a href="https//cartogram.ca">Cartogram</a>
    </li> -->
  </ul>
</nav>
<button class="NavToggle" popovertarget="nav"></button>