---
import '../styles/base.css';
import '../styles/layout.css';
import '../styles/typography.css';
import '../styles/nav.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Mansana</title>
  </head>
  <body>
    <div class="container">
      <div class="Main">
        <slot name="main" />
      </div>
      <div class="Aside">
        <slot name="aside" />
      </div>
    </div>
  </body>
</html>
